
  .container{
      display: grid;
      grid-template-columns:  repeat(3, 1fr); 
      grid-row: auto rows 100px;
      column-gap: 10px;
  row-gap: 1em;
  }
  .box1{
      display: grid;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-template-columns: repeat(3, 1fr);
  }